p{
    margin:0; 
}
label,span{
    color: @subcolor;
    font-size: 14px;
}

.lg-u-title-m{
    &:extend(.lg-u-title); 
    text-align: center;
    display: block; 
}
.lg-u-title-r{
    &:extend(.lg-u-title); 
    text-align: right; 
}
 
.lg-u-text-s{ 
    font-size: 14px;
    line-height: 18px;
    color: @tipcolor;
}
.lg-u-label{
    text-align: right;
    width: 100px; 
    display: inline-block;
    line-height: 30px;
}