.lg-sidebar{
    max-height: 100%; 
    position: relative;
    background-color: @color_bglight;
    overflow-y:auto; 
    overflow-x:hidden; 
    ul{
        display: none;
    }
    a{
        cursor: pointer;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        padding-right: 40px;        
        &:hover{
            background-color:@color_bg;
        }
    } 
    /* level 1*/
    & > ul{
        display: block;
        & > li{ 
            border-bottom: 1px solid @color_border;
            & > a{
                display: block;
                padding:30px 0 30px 44px;
                color: @color_title;
                font-size: 16px;
                font-weight: bold;
                &:after{
                    content:'\e633';
                    font-family: "iconfont" !important;
                    font-size: 18px;
                    position:  absolute;
                    right: 20px;
                }
                &.active:after{
                    content:'\e63f';
                }
            }
            /* level 2 */
            & > ul{            
                margin-top:-10px;
                & > li{ 
                    & > a{
                        display: block; 
                        color: @color_text;
                        font-size: 14px;
                        padding-left: 44px;
                        height: 45px;
                        line-height: 45px;
                    }
                    /* level 3 */
                    & > ul{
                        & > li{ 
                            & > a{
                                display: block; 
                                color: @color_text;
                                font-size: 12px;
                                padding-left: 44px;
                                height: 35px;
                                line-height: 35px;
                            }
                        }
                    }
                }
            } 
        } 
    } 
    
    .lg-sidebar-hand{
        position: absolute;
        right: -12px;
        line-height: 50px;
        height: 50px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: @color_main;
        &:after{
            content: "\e66a";
            font-family: "iconfont" !important;
            font-size: 12px; 
            color: white;
        }
    }

    .lg-fn-active,.active{ 
        &+ul{
            display: block;
        }
    } 

    &::-webkit-scrollbar{
        border:1px solid @color_border;
        border-top:none;
        border-bottom:none; 
    }
     
    &::-webkit-scrollbar-thumb{
        background-color: #c1c1c1;
        border-radius: 10px; 
    }
    &::-webkit-scrollbar-button:start:decrement,&::-webkit-scrollbar-button:end:increment,{
        display: block;
    }
    &::-webkit-scrollbar-button:end:decrement,&::-webkit-scrollbar-button:start:increment,{
        display: none;
    }
}